body {
    line-height: 1.4;
    margin: 0;
    overflow-x: hidden;
}

h1{
  font-weight: bold;
  font-family: "Times New Roman";
  text-align: center;
  background: #34495E;
  color: #fff;
  margin: 0;
  padding: 10px 0;
}

span{
  font-size: 22px;
}

.home_{
  position: absolute;
  transform: translateY(-40px);
  margin-left: 13px;
  width: 50px;
}

.num{
  border-radius: 0.25rem;
  transform: translateY(4px);
  width: 175px;
}

.ins{
  transform: translateY(50px);
  padding: 15px;
}

.input_num{
  background-color: #34495E;
  text-align: center;
  padding: 10px;
}

.searching_margin{
  margin-right: 40px;
  /* transform: translate(25px); */
}

.search_display{
  margin-left: 5px;
  color: #34495E;
  font-size: 25px;
}

.searching_display{
  font-weight: bold;
}

.result_display{
  font-weight: bold;
}

.searching_for{
  font-weight: bold;
  /* background-color: lightblue; */
  /* position: static; */
  /* transform: translateY(25px); */
  text-align: center;
  display: inline-block;
  /* width: 50px; */
  /* height: 50px; */
  /* border: 3px solix #34495E; */
  margin-left: 10px;
}

.result_for{
  font-weight: bold;
  /* background-color: lightblue; */
  /* position: static; */
  /* transform: translateY(25px); */
  text-align: center;
  display: inline-block;
  /* width: 50px; */
  /* height: 50px; */
  /* border: 3px solid #34495E; */
  margin-left: 10px;
}

.searching_text{
  /* transform: translateY(7px); */
  margin: auto;
}

.result_text{
  /* transform: translateY(7px); */
  margin: auto;
}

.index{
  padding: 10px;
}

.index_margin{
  font-weight: bold;
  color: #34495E;
  margin-left: 7px;
  text-align: center;
}

.index_text{
  display: inline-block;
}

.speed{
  font-size: 25px;
  font-weight: bold;
  color: #34495E;
  margin-left: 553px;
}

#size{
  display: inline-block;
  font-size: 25px;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

#speed{
  display: inline-block;
  font-size: 25px;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

#array_{
  background-color: #34495E;
  font-size: 25px;
  padding: 15px;
  color: #fff;
  font-weight: bold;
}

.flex-container{
    margin-top: 6%;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    transition: 0.2s all ease;
}

.flex-container_{
    margin-top: 1%;
    margin-bottom: 4.8%;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    transition: 0.2s all ease;
}

.flex-item{
    display: block;
    border: 1pt solid black;
    width: 60px;
    transition: 0.1s all ease;
}

.bar{
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.bar_{
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.size_speed{
  text-align: center;
}

.size_input{
  width: 75px;
}

.array_size{
  margin-right: 62px;
}

.newArray{
  margin-left: 200px;
  transform: translateY(50px);
  padding: 15px;
}


.bar_label{
  transform: translateY(3px);
}

.addBg{
  background-color: #34495E;
}

.extra_padding{
  /* height: 102.7px; */
  height: 85px;
  width: 100%;
  background-color: #fff;
}

.low{
  margin-right: 80px;
}

.mid{
  margin-right: 80px;
}

.index_values{
  color: #34495E;
  font-weight: bold;
  padding: 10px;
}

.low_index{
  margin-left: 6px;
}

.tab {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the tab content */
.tabcontent_ {
  display: none;
  /* padding: 6px 12px; */
  border: 1px solid #ccc;
  border-top: none;
}

.tab_ {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

._tabcontent {
  display: none;
  /* padding: 6px 12px; */
  border: 1px solid #ccc;
  border-top: none;
}

._tab {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

h3, p{
  margin-left: 15px;
}

code{
  font-weight: 600;
  color: #34495E;
}

#Instructions{
  font-family: sans-serif;
  font-size: 18px;
}
